.oval {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 100%;
    height: 37.5%;
    background: transparent;
    border: 3px solid #ffffff2b;
    border-radius: 50%;
  }
  
  .oval_one {
    transform: rotate(-23.32deg);
  }
  
  .oval_two {
    transform: rotate(-28.32deg);
  }
  
  .oval_three {
    transform: rotate(-33.32deg);
  }
  
  .oval_four {
    transform: rotate(-38.32deg);
  }
  
  .oval_five {
    transform: rotate(-43.32deg);
  }
  
  .oval_six {
    transform: rotate(-48.32deg);
  }
  
  .oval_seven {
    transform: rotate(-53.32deg);
  }
  
  .oval_eight {
    transform: rotate(-58.32deg);
  }
  
  .oval_nine {
    transform: rotate(-118.32deg);
  }
  
  .oval_ten {
    transform: rotate(-123.32deg);
  }
  
  .oval_eleven {
    transform: rotate(-128.32deg);
  }
  
  .oval_twelve {
    transform: rotate(-133.32deg);
  }
  
  .oval_thirteen {
    transform: rotate(-138.32deg);
  }
  
  .oval_fourteen {
    transform: rotate(-143.32deg);
  }
  
  .oval_fifteen {
    transform: rotate(-148.32deg);
  }
  
  .oval_sixteen {
    transform: rotate(-153.32deg);
  }
  
  .oval_seventeen {
    transform: rotate(-158.32deg);
  }
  
  .oval_eighteen {
    transform: rotate(-163.32deg);
  }
  
  .oval_nineteen {
    transform: rotate(-168.32deg);
  }

  @media screen and (max-width: 800px) {
    .oval {
      top: 45%;
      left: 10%;  
      width: 175%;
      height: 17.5%;
    }
  
  }